

@font-face {
    font-family: Ethnocentric;
    src: url(./ethnocentric/ethnocentric\ rg.otf);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

body {
}

.logo {
    font-size: 2rem;
}


.navbar {
    background: #222222;
    border-bottom: solid 1px rgb(199, 109, 109);
    position: relative;
    padding: 25px 0px 15px 0px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
}



/* Couleur + Font du logo ARICI */
.navbar > .logo {
    color: rgb(223, 139, 22);
    font-family: Ethnocentric;
    margin: -6px;
}


/* Enleve les points listing */
.navbar ul {
    list-style-type: none;
    font-size: 1.25rem;
    display: inline-block;
}


/* Style des menus sans compter le logo */
.navbar .nav-links ul{
    display: flex;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    color: rgb(223, 139, 22);
}

.navbar .nav-links ul li:after{
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background:rgb(255, 255, 255);
    transition: 300ms;
}

.navbar .nav-links ul li:hover:after{
    width: 100%;
}

/* Espace entre les menus */
.navbar .nav-links ul li{
    font-size: 90%;
    margin: 0 30px;
}

/* Couleur quand on passe la souris dessus*/
.navbar .nav-links ul li:hover{
color: white;
transition: 0.3s ease;
}

.logo:hover{
    color: white;
    transition: 0.3s ease;
}

.navbar .menu-lateral{
    display: none;
    position: absolute;
    right: 140px;
    width: 35px;
    top: 25px;
    filter: invert();
}

/* Votre boulangerie préférée c'est nous */
.container{
    position: absolute;
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.container h1{    
    position: relative;
    font-family: 'Aclonica', sans-serif;
    padding: 17% 9%;
    font-size: 2.2rem;
    color: rgb(255, 255, 255);
}


/* Réglage sur portable */
@media screen and (max-width: 900px){
    body{
        background-color: rgb(78, 51, 12);
    }
    .navbar .logo{
        color: black;
        position: absolute;
        top: 25px;
        left: 50px;
    }
    .navbar{
        border-bottom: none;
        padding: 0;
    }
    .navbar .menu-lateral{
        display: block;
        right: 30px;
    }

    .nav-links {
        position: absolute;
        display: flex;
        background-color: rgba(15, 11, 11, 0.404);
        backdrop-filter: blur(4px);
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }
    
    .nav-links.mobile-menu{
        margin-left: 0;
    }

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li{
        margin: 25px 0;
        font-size: 1em;
    }
}


/* BAS DE PAGE */

footer{
    position: absolute;
    margin-left: 50%;
    margin-top: 25%;
}

.footer ul {
    display: flex;
    transform: translate(-50%, -50%);
  }
  
  .footer ul li {
    list-style: none;
  }
  
  .footer ul li a {
    width: 100px;
    height: 100px;
    background-color: #fff;
    text-align: center;
    line-height: 100px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }
  
  .footer ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
  .footer ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  .footer ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
  .footer ul li a:hover:before {
    top: 0;
  }
  
  .footer ul li:nth-child(1) a:before{
    background: #e95950;
  }
  
  .footer ul li:nth-child(2) a:before{
    background: #55acee;
  }
  
  .footer ul li:nth-child(3) a:before {
    background: #0077b5;
  }
